/* -------------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?94396187");
  src: url("../fonts/fontello.eot?94396187#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?94396187") format("woff2"), url("../fonts/fontello.woff?94396187") format("woff"), url("../fonts/fontello.ttf?94396187") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a,
a:hover {
  text-decoration: none;
}

.container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  font-family: "Open Sans";
  background: -webkit-radial-gradient(#2e2e2e, #000);
  background: -o-radial-gradient(#2e2e2e, #000);
  background: radial-gradient(#2e2e2e, #000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 40px;
  padding-left: 25px;
}

.modiff--container.container {
  background: rgba(23, 23, 23, 0.8);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 155px;
      flex-basis: 155px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.link-logo {
  display: inline-block;
  width: 125px;
}

.link-logo img {
  width: 100%;
  height: 100%;
}

.menu {
  width: 100%;
  padding-left: 0;
}

.menu__item {
  height: 40px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.menu__item::after {
  display: inline-block;
  width: 100%;
  height: 1px;
  margin-bottom: 8px;
  content: "";
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(#fff), to(transparent));
  background: -webkit-linear-gradient(right, transparent, #fff, transparent);
  background: -o-linear-gradient(right, transparent, #fff, transparent);
  background: linear-gradient(to left, transparent, #fff, transparent);
}

.menu__item:last-child::after {
  width: 0;
  height: 0;
}

.menu__link {
  display: inline-block;
  width: 100%;
  font-size: 0.875rem;
  color: #fff;
}

.menu__link:hover {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  background: -webkit-radial-gradient(transparent, #df5f18);
  background: -o-radial-gradient(transparent, #df5f18);
  background: radial-gradient(transparent, #df5f18);
}

.menu__link:active {
  background: -webkit-radial-gradient(#df5f18, transparent);
  background: -o-radial-gradient(#df5f18, transparent);
  background: radial-gradient(#df5f18, transparent);
}

.cart {
  position: fixed;
  z-index: 3;
  top: 40px;
  right: 60px;
}

.cart::before {
  display: block;
  width: 60px;
  height: 60px;
  content: "\f291";
  text-align: center;
  color: white;
  border-radius: 50%;
  background-color: #df5f18;
  font-family: fontello;
  font-size: 1.5rem;
  line-height: 60px;
}

address {
  width: 100%;
}

.location,
.phone {
  font-size: 0.875rem;
  color: white;
}

.location p,
.phone p {
  display: inline-block;
}

.location::before {
  content: "\f278";
}

.phone:before {
  content: "\e801";
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #df5f18;
}

.location::before,
.phone:before {
  display: inline-block;
  margin-right: 5px;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  font-family: fontello;
  font-size: 1rem;
  color: #df5f18;
}

.tel {
  color: #df5f18;
}

.at-text {
  font-size: 0.75rem;
  color: #fff;
}

.main-title {
  width: 100%;
  text-align: center;
  color: #fff;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(223, 95, 24, 0.5);
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.blur {
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -1;
  width: 110%;
  height: 110%;
  background-image: url(../img/sushi-5_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(18px);
          filter: blur(18px);
}

.leaf,
.mint {
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: contain;
}

.leaf {
  top: -30px;
  right: 10%;
  background-image: url(../img/leaf.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mint {
  left: 20%;
  bottom: 5%;
  background-image: url(../img/mint.png);
  background-repeat: no-repeat;
  background-size: 70px;
}

.at-main {
  background: url(../img/plate_of_sushi.png), url(../img/mint-2.png), url(../img/mint.png);
  background-repeat: no-repeat;
  background-size: 650px, 70px, 70px;
  background-position: left 25px bottom -65%, right 30% bottom 40%, right 20% bottom 40%;
}

.at-text-bg {
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(44, 26, 26, 0.5);
}

.at--leaf.leaf {
  width: 80px;
  height: 180px;
  top: 70px;
  right: 20px;
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
          transform: rotate(50deg);
}

.at--mint.mint {
  left: 80vw;
}

.at--mint-2.mint {
  right: 0;
  -webkit-transform: rotate(205deg);
      -ms-transform: rotate(205deg);
          transform: rotate(205deg);
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide .img-wrap {
  max-width: 60vw;
}

.swiper-slide img {
  width: 100%;
  border-radius: 60px;
}

.swiper-pagination {
  z-index: 10;
  bottom: 20px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  opacity: 1;
  border: 1px solid #fff;
  background: none;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 20px;
}

.swiper-pagination-bullet-active {
  border: none;
  background-color: #df5f18;
}

.swiper-pagination-progressbar-fill {
  background-color: rgba(223, 95, 24, 0.5);
}

.page-name-block {
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.page-name-block * {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: .7;
}

.page-name-title {
  display: inline-block;
  color: rgba(60, 56, 53, 0.45);
  font-size: 10rem;
  padding: 0;
}

.page-name {
  color: #fff;
}

.page-name::after, .page-name::before {
  display: inline-block;
  width: 2px;
  height: 180px;
  content: "";
  margin: 10px auto;
}

.page-name::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(transparent));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), transparent);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), transparent);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), transparent);
}

.page-name::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), to(transparent));
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.4), transparent);
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.4), transparent);
  background: linear-gradient(to top, rgba(255, 255, 255, 0.4), transparent);
}
